<!DOCTYPE html>
<html>
<head>
    <title>MIDAS Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <div class="card">
        <h1>MIDAS HR Login</h1>
        <p>Secure access for HR and admin users.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="alert">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">
            <label>Email</label>
            <input type="email" name="email" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit" class="dark-btn">Login</button>
        </form>
    </div>
</div>

</body>
</html>